body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.welcome{

    text-align: center;
    background-image: linear-gradient(red, rgb(0, 0, 0));
    color: rgb(255, 255, 255)
}
  .panda{

    color:#e68e54

  } 


    h1{

    font-size:50px;  
    }

    .head-section{

        display: flex;
        margin-bottom: 150px;

    }

    .tx-mg-head{

        width: 50%;
        padding-left: 5%;

    }

    .tx-mg-head img{

        width: 80%;

    }

    .button{

        text-decoration: none;
        background-image: linear-gradient(orange,tomato);
           padding: 10px 40px;
           color:white;
           font-weight: 700;
           border-radius:6px;

    }
#pra{
margin-bottom: 50px;

}

.section-2{

    display: flex;
        margin-bottom: 150px;
        background-image: url(images/shapes/7.png);
       background-repeat: no-repeat;
       background-size: 100%;
      padding-top: 40px;

}

.text-2{

    width: 50%;
    margin-top: 80px;

}

.text-2-img{

    width: 50%;
    margin-left: 200px;
}

.text-2-img img{
        width: 300px;


}
.Recipies{

text-align: center;

}

.h2-text{
    
    color: #3b3838;

}

.box{
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   justify-content: 
   space-around;

}

.card{

        width: 250px;
        text-align: center;
        margin-top: 30px;
       box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.6);
        padding: 20px 20px 40px 20px;
}

.card img{

width: 100%;
border-radius: radius: 5px;

}

.text{

padding: 10px;
background-color: rgb(255, 255, 255);
}

.text-2 p{

    margin-bottom: 80px;

}

#img-3{
    border-radius: 15px;

}

.container text{

    display: flex;
   
}

.coman{
   
   text-align: center;
   
}

footer{

text-align: center;
background-image: radial-gradient(rgb(136, 124, 124),red);
        margin-bottom: 20px;
}

.network{

   color: rgb(9, 2, 48);

}

